<!--The container-xxl class will make the div take up 100% of the available width of the viewport for screen sizes below 1400px (this includes small, medium, large, and extra-large screens).-->
<div class="service-section container-xxl">
    <div class="service-info">
        <h1 class="display-3 main-heading text-center pt-5 pb-1">
            World's Smartest Web App Boilerplate
        </h1>
        <p class="sub-heading lead text-center mx-auto pb-3">
            we're not just another platform – we're your strategic partner in building the dream
            team for your company's success story. That's why we've designed our platform to be
            user-friendly,ensures that you spend less time searching and more time building.That's
            why we've designed our platform...
        </p>
    </div>

    <div class="service-features pt-4">
        <div class="row g-4">
            <!-- Adds spacing between columns -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="feature-item p-4 border rounded">
                    <img src="../../../../assets/images/general-icon.png" alt="icon" />
                    <h4>Cloud Storage</h4>
                    <p>
                        Safeguard all your valuable recruitment materials in one centralized hub,
                        providing effortless access and flawless organization.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="feature-item p-4 border rounded">
                    <img src="../../../../assets/images/general-icon.png" alt="icon" />
                    <h4>Cloud Storage</h4>
                    <p>
                        Safeguard all your valuable recruitment materials in one centralized hub,
                        providing effortless access and flawless organization.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="feature-item p-4 border rounded">
                    <img src="../../../../assets/images/general-icon.png" alt="icon" />
                    <h4>Cloud Storage</h4>
                    <p>
                        Safeguard all your valuable recruitment materials in one centralized hub,
                        providing effortless access and flawless organization.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="feature-item p-4 border rounded">
                    <img src="../../../../assets/images/general-icon.png" alt="icon" />
                    <h4>Cloud Storage</h4>
                    <p>
                        Safeguard all your valuable recruitment materials in one centralized hub,
                        providing effortless access and flawless organization.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="feature-item p-4 border rounded">
                    <img src="../../../../assets/images/general-icon.png" alt="icon" />
                    <h4>Cloud Storage</h4>
                    <p>
                        Safeguard all your valuable recruitment materials in one centralized hub,
                        providing effortless access and flawless organization.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="feature-item p-4 border rounded">
                    <img src="../../../../assets/images/general-icon.png" alt="icon" />
                    <h4>Cloud Storage</h4>
                    <p>
                        Safeguard all your valuable recruitment materials in one centralized hub,
                        providing effortless access and flawless organization.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
